body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1019px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:8px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:111px;
  top:462px;
  width:150px;
  height:150px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#00FF00;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u5 {
  position:absolute;
  left:2px;
  top:63px;
  width:146px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:40px;
  width:375px;
  height:327px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:327px;
}
#u7 {
  position:absolute;
  left:2px;
  top:156px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:155px;
  top:297px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:187px;
  top:279px;
  width:15px;
  height:15px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u11 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:194px;
  top:244px;
  width:215px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:198px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:4px;
  width:215px;
  height:2px;
}
#u13 {
  position:absolute;
  left:417px;
  top:204px;
  width:364px;
  height:66px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:66px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:340px;
  top:119px;
  width:15px;
  height:15px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u16 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:355px;
  top:121px;
  width:55px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:38px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:4px;
  width:55px;
  height:2px;
}
#u18 {
  position:absolute;
  left:420px;
  top:104px;
  width:232px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:44px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:57px;
  top:12px;
  width:15px;
  height:15px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:72px;
  top:14px;
  width:338px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:321px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:4px;
  width:338px;
  height:2px;
}
#u23 {
  position:absolute;
  left:420px;
  top:12px;
  width:415px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:22px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:220px;
  top:529px;
  width:15px;
  height:15px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u26 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:235px;
  top:531px;
  width:175px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:158px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:4px;
  width:175px;
  height:2px;
}
#u28 {
  position:absolute;
  left:420px;
  top:284px;
  width:414px;
  height:115px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:115px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:-1px;
  top:367px;
  width:376px;
  height:4px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:4px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-6px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:62px;
  top:367px;
  width:250px;
  height:4px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:4px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-6px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:355px;
  top:361px;
  width:14px;
  height:15px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u35 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:369px;
  top:363px;
  width:41px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:24px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:4px;
  width:41px;
  height:2px;
}
#u37 {
  position:absolute;
  left:420px;
  top:506px;
  width:600px;
  height:134px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:134px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:190px;
  top:249px;
  width:10px;
  height:30px;
}
#u39_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u39_end {
  position:absolute;
  left:-5px;
  top:13px;
  width:20px;
  height:18px;
}
#u39_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:30px;
}
#u40 {
  position:absolute;
  left:640px;
  top:507px;
  width:100px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:599px;
  top:529px;
  width:100px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u43 {
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:757px;
  top:529px;
  width:100px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:586px;
  top:551px;
  width:100px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u47 {
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:741px;
  top:553px;
  width:100px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u49 {
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:138px;
  top:423px;
  width:100px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u51 {
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:138px;
  top:321px;
  width:100px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u53 {
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:155px;
  top:390px;
  width:10px;
  height:10px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u55 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:164px;
  top:385px;
  width:56px;
  height:15px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
}
#u57 {
  position:absolute;
  left:2px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:189px;
  top:400px;
  width:14px;
  height:15px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u59 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:195px;
  top:418px;
  width:215px;
  height:10px;
}
#u60_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:198px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:4px;
  width:215px;
  height:2px;
}
#u61 {
  position:absolute;
  left:191px;
  top:415px;
  width:10px;
  height:8px;
}
#u61_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u61_end {
  position:absolute;
  left:-5px;
  top:-9px;
  width:20px;
  height:18px;
}
#u61_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:8px;
}
#u62 {
  position:absolute;
  left:420px;
  top:399px;
  width:307px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:44px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
