<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CircleOfFriendsDisplay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>51FC21341D936FE80002E3FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51FC214D1D936FE90002E3FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51FC21581D936FE90002E3FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
