body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:140px;
  top:100px;
  width:100px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:280px;
  top:240px;
  width:100px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:280px;
  top:100px;
  width:100px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:420px;
  top:150px;
  width:100px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:560px;
  top:150px;
  width:100px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:700px;
  top:150px;
  width:100px;
  height:60px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:700px;
  top:240px;
  width:100px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:560px;
  top:240px;
  width:100px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:380px;
  top:130px;
  width:40px;
  height:50px;
}
#u16_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:44px;
  height:20px;
}
#u16_seg1 {
  position:absolute;
  left:20px;
  top:-10px;
  width:20px;
  height:70px;
}
#u16_seg2 {
  position:absolute;
  left:20px;
  top:40px;
  width:24px;
  height:20px;
}
#u17 {
  position:absolute;
  left:-20px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:240px;
  top:130px;
  width:40px;
  height:0px;
}
#u18_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:54px;
  height:20px;
}
#u19 {
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:520px;
  top:180px;
  width:40px;
  height:0px;
}
#u20_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:54px;
  height:20px;
}
#u21 {
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:660px;
  top:180px;
  width:40px;
  height:0px;
}
#u22_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:54px;
  height:20px;
}
#u23 {
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:750px;
  top:210px;
  width:0px;
  height:30px;
}
#u24_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:44px;
}
#u25 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:380px;
  top:270px;
  width:40px;
  height:-90px;
}
#u26_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:44px;
  height:20px;
}
#u26_seg1 {
  position:absolute;
  left:20px;
  top:-100px;
  width:20px;
  height:110px;
}
#u26_seg2 {
  position:absolute;
  left:20px;
  top:-100px;
  width:24px;
  height:20px;
}
#u27 {
  position:absolute;
  left:-20px;
  top:-43px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:610px;
  top:210px;
  width:0px;
  height:30px;
}
#u28_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:44px;
}
#u29 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
