body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:719px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:125px;
  width:375px;
  height:325px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:325px;
}
#u5 {
  position:absolute;
  left:2px;
  top:154px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:138px;
  top:480px;
  width:100px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:370px;
  top:260px;
  width:15px;
  height:15px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u9 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:385px;
  top:262px;
  width:35px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:18px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:4px;
  width:35px;
  height:2px;
}
#u11 {
  position:absolute;
  left:430px;
  top:246px;
  width:289px;
  height:66px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:66px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:420px;
  top:480px;
  width:253px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:44px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:238px;
  top:485px;
  width:15px;
  height:15px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u16 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:253px;
  top:487px;
  width:167px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:150px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:4px;
  width:167px;
  height:2px;
}
