body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1379px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:410px;
  top:154px;
  width:376px;
  height:88px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:88px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:365px;
  top:34px;
  width:15px;
  height:15px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:380px;
  top:36px;
  width:25px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:8px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:4px;
  width:25px;
  height:2px;
}
#u7 {
  position:absolute;
  left:411px;
  top:34px;
  width:593px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:22px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:411px;
  top:67px;
  width:322px;
  height:66px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:66px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:769px;
  top:76px;
  width:300px;
  height:107px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:107px;
}
#u12 {
  position:absolute;
  left:2px;
  top:46px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:769px;
  top:132px;
  width:300px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u14 {
  position:absolute;
  left:785px;
  top:94px;
  width:271px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:22px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:915px;
  top:138px;
  width:10px;
  height:45px;
}
#u16_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u16_end {
  position:absolute;
  left:-5px;
  top:28px;
  width:20px;
  height:18px;
}
#u16_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:45px;
}
#u17 {
  position:absolute;
  left:829px;
  top:152px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#33CC66;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:989px;
  top:152px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#33CC66;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:1079px;
  top:0px;
  width:300px;
  height:107px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:107px;
}
#u22 {
  position:absolute;
  left:2px;
  top:46px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1079px;
  top:56px;
  width:300px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u24 {
  position:absolute;
  left:1095px;
  top:10px;
  width:261px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:44px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:1225px;
  top:62px;
  width:10px;
  height:45px;
}
#u26_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u26_end {
  position:absolute;
  left:-5px;
  top:28px;
  width:20px;
  height:18px;
}
#u26_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:45px;
}
#u27 {
  position:absolute;
  left:1139px;
  top:76px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#33CC66;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:1299px;
  top:76px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#33CC66;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:12px;
  top:198px;
  width:88px;
  height:70px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:70px;
}
#u32 {
  position:absolute;
  left:2px;
  top:27px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:45px;
  top:192px;
  width:15px;
  height:14px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:51px;
  top:177px;
  width:350px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:333px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:4px;
  width:350px;
  height:2px;
}
#u36 {
  position:absolute;
  left:47px;
  top:183px;
  width:10px;
  height:15px;
}
#u36_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u36_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u36_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:15px;
}
#u37 {
  position:absolute;
  left:415px;
  top:368px;
  width:235px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:22px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:0px;
  top:354px;
  width:375px;
  height:50px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u40 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:365px;
  top:372px;
  width:15px;
  height:15px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u42 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:380px;
  top:374px;
  width:25px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:8px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:4px;
  width:25px;
  height:2px;
}
#u44 {
  position:absolute;
  left:80px;
  top:195px;
  width:22px;
  height:22px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u45 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:99px;
  top:201px;
  width:15px;
  height:15px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u47 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:107px;
  top:274px;
  width:285px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:268px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:4px;
  width:285px;
  height:2px;
}
#u49 {
  position:absolute;
  left:102px;
  top:215px;
  width:10px;
  height:63px;
}
#u49_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u49_end {
  position:absolute;
  left:-5px;
  top:46px;
  width:20px;
  height:18px;
}
#u49_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:63px;
}
#u50 {
  position:absolute;
  left:405px;
  top:260px;
  width:253px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:44px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:680px;
  top:256px;
  width:300px;
  height:107px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:107px;
}
#u53 {
  position:absolute;
  left:2px;
  top:46px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:680px;
  top:312px;
  width:300px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u55 {
  position:absolute;
  left:787px;
  top:274px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:826px;
  top:318px;
  width:10px;
  height:45px;
}
#u57_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u57_end {
  position:absolute;
  left:-5px;
  top:28px;
  width:20px;
  height:18px;
}
#u57_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:45px;
}
#u58 {
  position:absolute;
  left:740px;
  top:332px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#33CC66;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:900px;
  top:332px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#33CC66;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
