body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:8px;
  top:31px;
  width:22px;
  height:22px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u7 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:5px;
  top:68px;
  width:58px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:80px;
  top:81px;
  width:71px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:80px;
  top:110px;
  width:180px;
  height:110px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:110px;
}
#u13 {
  position:absolute;
  left:2px;
  top:47px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:156px;
  top:142px;
  width:45px;
  height:45px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u15 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:250px;
  top:78px;
  width:115px;
  height:22px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:22px;
}
#u17 {
  position:absolute;
  left:2px;
  top:3px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:230px;
  width:374px;
  height:361px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:361px;
}
#u19 {
  position:absolute;
  left:2px;
  top:172px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:252px;
  top:130px;
  width:15px;
  height:15px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:267px;
  top:132px;
  width:133px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:116px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:4px;
  width:133px;
  height:2px;
}
#u23 {
  position:absolute;
  left:410px;
  top:92px;
  width:360px;
  height:88px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:88px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:30px;
  top:32px;
  width:19px;
  height:22px;
  font-size:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:151px;
  top:32px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
